<div style="text-align:center">
  <h1>
    {{title}}
  </h1>
  <img src="https://office365moscow.azureedge.net/img/M365Bootcamp.png" style="width:400px;">
</div>
<h1>Информация о пользователе</h1>
<div>
  <strong>userName</strong>: {{userInfo.userName}}
</div>
<div>
  <strong>family_name</strong>: {{userInfo.profile.family_name}}
</div>
<div>
  <strong>given_name</strong>: {{userInfo.profile.given_name}}
</div>
<div>
  <strong>name</strong>: {{userInfo.profile.name}}
</div>
<h1>Ссылки</h1>
<div>
  <strong>Сайт сообщества</strong>: <a href="http://office365moscow.ru/" target="_blank">http://office365moscow.ru/</a>
</div>
<div>
  <strong>meetup.com</strong>: <a href="https://www.meetup.com/office365moscow" target="_blank">https://www.meetup.com/office365moscow</a>
</div>
